
* {
  box-sizing: border-box;
}

.bodyWrapper {
  max-width: 500px;
  width: 100%;
  margin: 20px auto 0 auto;
  padding: 0px 20px;
}

@media (min-width: 800px) {
  .bodyWrapper {
      padding: 0;
  }
}
