.pollWidgetWrapper{
    margin-top: 20px;
    .question{
        color: #151518;
        text-align: left;
        font-size: 20px;
        font-weight: 500;
       
    }

.poll_option{
    border: 2px solid rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 48px;
    margin-top: 20px;
    &:hover{
        cursor: pointer;
    }
    &.poll_option_active{
        border: 2px solid #5e2ced;
    }
    .radio_button_container {
        color: rgba(0, 0, 0, 0.75);
        display: block;
        position: relative;
        padding-left: 45px;
        line-height: 25px;
        margin-left: 30px;
        cursor: pointer;
        font-size: 18px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      /* Hide the browser's default radio button */
      .radio_button_container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      
      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 21px;
        width: 21px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        border: 2px solid rgba(0, 0, 0, 0.25);
        transition: all 0.3s;
      }
      
      /* On mouse-over, add a grey background color */
      .radio_button_container:hover input ~ .checkmark {
        border-color: rgba(0, 0, 0, 0.5);
      }
      
      /* When the radio button is checked */
      .radio_button_container input:checked ~ .checkmark {
        background-color: rgba(0, 0, 0, 0);
        border-color: #5e2ced;
      }
      
      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the indicator (dot/circle) when checked */
      .radio_button_container input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the indicator (dot/circle) */
      .radio_button_container .checkmark:after {
        top: 4px;
        left: 4px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #5e2ced;
      }
    }
    
  
}


  
  