nav {
  background-color: #ffffff; // Light background color for a clean look
  padding: 20px;
  display: flex;
  z-index: 999;
  box-shadow: 0 0 8px 4px #efefef;
  gap:20px;
  justify-content: center;

  a {
    color: var(--brandColor);
    font-size:18px;
    font-weight: 500;
    text-decoration: none;
    line-height: 30px;
  }
}

:global(.active) {
  border-bottom: 2px solid var(--brandColor);
}


